*.suo
*.exe
*.dll
*.obj
*.o
*.vcxproj
*.sln
*.filters
*.lib
*.log
*.xcf
**/ogre.cfg
**/CMakeCache.txt
build/
build-*/
tools/
_OLD/
output/share
output/include
output/lib
CMakeLists.txt.user
doc/FFVII/RAW/
.settings/
.project
.cproject
.directory
v-gears-new*.png
/.vscode/c_cpp_properties.json
src/installer/MainWindow.ui.autosave
