*.suo
*.exe
*.dll
*.obj
*.o
*.vcxproj
*.sln
*.filters
*.lib
*.log
**/ogre.cfg
**/CMakeCache.txt
build/
output/share
output/include
output/lib
CMakeLists.txt.user
doc/FFVII/RAW/
.settings/
.project
.cproject

